documentacion/definicion-proyecto.md
reconocimiento
nvidia-docker
code/morphing/__pycache__
code/morphing/faceops.py
code/detect-diff/__pycache__
code/detect-diff/faceops.py
code/detect-diff/wrapper.sh
code/dreambooth/faceops.py
code/dreambooth/DreamBooth_Stable_Diffusion.ipynb
code/dreambooth/old
code/dreambooth/train_inpainting_dreambooth.py
.env
code/img-gen/img2img.py
code/img-gen/inpaint.py
code/img-gen/openpose2.py
code/img-gen/text2img.py
documentacion/drawio/.xdp*
project*
documentacion/drawio/caras*
**__pycache__
code/img-gen/tests
code/arcfaces/*.jpg
experiments/handpicked.json
experiments
# !experiments/real-actors
experiment/
experiment-2.sh
documentacion/*.md